

  .image-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-gap: 1px;
  }
  
  .image-grid div {
    text-align: center;
  }
  
  .image-grid div p {
    font: 1.2em sans-serif;
  }
  